<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu left-side-menu-detached">

    <div class="leftbar-user">
        <a href="javascript: void(0);">
            <img src="assets/images/users/avatar-js.jpg"
                alt="user-image" height="42" class="rounded-circle shadow-sm">
            <span class="leftbar-user-name">Jhohan Silva</span>
        </a>
    </div>

    <!--- Sidemenu -->
    <ul class="metismenu side-nav side-nav-light">
        <li class="side-nav-item">
            <a href="javascript: void(0);" class="side-nav-link active">
                <i class="dripicons-store"></i>
                <span> Principal </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Compras</li>

        <li class="side-nav-item">
            <a href="javascript: void(0);" class="side-nav-link">
                <i class="dripicons-view-apps"></i>
                <span>Mis pedidos </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="side-nav-second-level" aria-expanded="false">
                <li>
                    <a href="apps-calendar.html">Calendar</a>
                </li>
                <li class="side-nav-item">
                    <a href="javascript: void(0);" aria-expanded="false">Projects
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="side-nav-third-level" aria-expanded="false">
                        <li>
                            <a href="apps-projects-list.html">List</a>
                        </li>
                        <li>
                            <a href="apps-projects-details.html">Details</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="apps-tasks.html">Tasks</a>
                </li>
                <li class="side-nav-item">
                    <a href="javascript: void(0);" aria-expanded="false">eCommerce
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="side-nav-third-level" aria-expanded="false">
                        <li>
                            <a href="apps-ecommerce-products.html">Products</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-products-details.html">Products Details</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-orders.html">Orders</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-orders-details.html">Order Details</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-customers.html">Customers</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-shopping-cart.html">Shopping Cart</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-checkout.html">Checkout</a>
                        </li>
                        <li>
                            <a href="apps-ecommerce-sellers.html">Sellers</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <!-- End Sidebar -->

    <div class="clearfix"></div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->